        <footer>
            <div id="footer_nav">
                <div class="footer_ul">
                    <ul>
                        <li><div><a href="/">Home</a></div></li>
                        <li><div><a href="/on-the-menu">On The Menu</a></div></li>
                        <li><div><a href="/sign-up">Sign-Up</a></div></li>
                        <li><div><a href="/log-in">Log-in</a></div></li>                
                    </ul>
                    <ul>
                        <li><div><a href="/blog">Blog</a></div></li>
                        <li><div><a href="/FAQ">FAQ</a></div></li>
                        <li><div><a href="/join-our-team">Join Our Team</a></div></li>
                    </ul>
                    <ul>
                        <li><div><a href="/about-us">About Us</a></div></li>
                        <li><div><a>Tel: (437) 362 6035</a></div></li>
                        <li><div><a href="mailto:wso8@myseneca.ca">Email: wso8@myseneca.ca</a></div></li>
                    </ul>
                </div>
                <div class="social">
                    <div class="socialImage"><a href="https://www.facebook.com/david.so.5680"><img src="images/Logos/facebook.png"><img></a></div>
                    <div class="socialImage"><a href="https://www.linkedin.com/in/david-so-5b78b471"><img src="images/Logos/linkedin.png"><img></a></div>
                    <div class="socialImage"><a href="https://www.instagram.com/tomato01017/"><img src="images/Logos/instagram.png"><img></a></div>
                </div>
            </div>
            <div id="remarks">
                <i>Copyright © Fall 2022, Wai Chung, So, WEB322NEE</i>
                <i>Copyright © Fall 2022, Nick Romanidis, WEB322 NEE</i>
            </div>
        </footer>