        <header>
            <div>
                <a href="/"><img src="images/Burgers/icon.jpeg" /></a>
                {{!-- <a href="/"><img src="../../assets/images/Burgers/icon.jpeg" /></a> --}}

            </div>
            <div>
                <h1>David's Burger</h1>
                <h3>Let's Enjoy and Eat!</h3>
            </div>
        </header>
        
        {{>Nav_menu}}
