    {{!-- <div id="HowDoesItWorks">
            <link rel="stylesheet" href="/css/HowDoesItWorks.css" />

        <h1>HOW IT WORKS</h1><br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/RsCtECtr-sY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            
        <div>
            <div class="boxes">
                <a href="/sign-up">
                    <img src="/images/Logos/login.png">
                    <h2>Sign Up / Log-in</h2>
                    <p>Sign Up for new customers or Log-in for return customers</p>
                </a>
            </div>
            <div class="boxes">
                <a href="/on-the-menu">
                    <img src="/images/Logos/order.png">
                    <h2>Make Your Order</h2>
                    <p>Custom the meals that your wants</p>
                </a>
            </div>
            <div class="boxes">
                <a href="/checkout">
                    <img src="/images/Logos/checkout.png">
                    <h2>Check-Out</h2>
                    <p>Check-Out after you finish. Fill the payment methods and pickup method</p>
                </a>
            </div>
        </div>
    </div> --}}