<link rel="stylesheet" href="/css/MealKit.css"/>


<container class="mealKitContainer">
    <img src="/images/Burgers/{{imageUrl}}">
    <u>{{title}}</u>
    <i>{{price}} / each</i>
    <a>{{includes}}<br></a>
</container>