<!DOCTYPE html>
    <head>
        <title>David's Burger</title>
        <link rel="stylesheet" href="/css/main.css"/>
    </head>

    <body>
        {{>Header}}
        {{{body}}}
        {{>Footer}}
    </body>
</html>
