    <link rel="stylesheet" href="/css/log-in.css"/>

<div id="log-in">
    <h1>Welcome Back</h1>
    <form method="post" action="/log-in">
            
            <input class="formAttributes" id="email" name="email" value="{{values.email}}" type="text" placeholder="Email Address"> <br>
                {{#if validationMessages.email}}
                    <span style="color: red;">{{validationMessages.email}}</span><br />
                {{/if}}

            <input class="formAttributes" id="password" name="password" value="{{values.password}}"   type="text" placeholder="Password">      <br>
                {{#if validationMessages.password}}
                    <span style="color: red;">{{validationMessages.password}}</span><br />
                {{/if}}

        <input type="submit" id="login-button" value="Log-In" />

    </form>
</div>